{% extends 'base.html' %}

{% block title %}Search results{% endblock %}

{% block content %}
<form method="get" action="{% url 'YAASApp:auction_by_name' %}">
     <input class="searchfield" id="searchbox" name="searchbox" type="text" value="{{ request.GET.searchbox }}" placeholder="Search..."/>
</form>

{% if auctions %}
    <ul>
    {% for auction in auctions %}
        <li>{{ auction.title }}
            <div><a href="{% url 'YAASApp:auctiondetail' auction.id %}">Detail</a> </div>
        </li>
    {% endfor %}
   </ul>
{% else %}
    <p>No auctions available</p>
{% endif %}
{% endblock %}