{% extends 'base.html' %}
{% load i18n %}

{% block title %}Auction detail{% endblock %}

{% block content %}
    <h1>{{ auction.title }}</h1>

    <h3>Description</h3>
    <p>{{ auction.description }}</p>
    <p><strong>{% trans "Minimum Price" %} : </strong> {{ auction.minimum_price }}</p>
    <p><strong>{% trans "Current Price" %} : </strong> {{ auction.current_price }}</p>
    <p><strong>{% trans "Status" %} : </strong> {{ auction.status }}</p>
    <p><strong>{% trans "Deadline" %} : </strong> {{ auction.deadline }}</p>
    <p><strong>{% trans "Seller" %} :</strong>{{ auction.seller.username }}</p>


    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if auction.seller != user and auction.last_bidder != user and user.is_authenticated %}
        <h3>{% trans "You can bid on this auction" %}</h3>
        <form method="post" action="{% url "YAASApp:bid_auction" auction.id %}">
            {% csrf_token %}
            Bid price: <input type="number" placeholder="10,0" id="bid_price" name="bid_price" step=".01">
            <br/>
            <button type="submit">Bid</button>
        </form>
    {% endif %}
    {% if user.is_superuser %}
        <h3>Ban this auction</h3>
        <form method="post" action="{% url "YAASApp:ban_auction" auction.id %}">
            {% csrf_token %}
            <button type="submit">Ban</button>
        </form>
    {% endif %}
{% endblock %}