<!-- templates/base.html -->
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}YAAS Application{% endblock %}</title>
</head>
<body>
  <main>
  <div>
  {% get_current_language as LANGUAGE_CODE %}
  {% if LANGUAGE_CODE == 'en' %}
      <form action="{% url "YAASApp:language" 'fr' %}" method="get">
          <button type="submit">FR</button>
      </form>
  {% else %}
      <form action="{% url "YAASApp:language" 'en' %}" method="get">
        <button type="submit">EN</button>
      </form>
  {% endif %}
  </div>
  <div>
      {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <table>
            <tr>
                <td><a href="{% url 'YAASApp:auctionindex' %}">YAAS</a></td>
                <td><a href="{% url 'YAASApp:userdetail' %}">{% trans "Profile" %}</a></td>
                <td><a href="{% url 'YAASApp:createauction' %}">{% trans "Create new auction" %}</a></td>
                <td><a href="{% url 'YAASApp:auctionuser' %}">{% trans "Your auctions" %}</a></td>
                <td><a href="{% url 'YAASApp:logout' %}">{% trans "Logout" %}</a></td>
                {% if user.is_superuser %}
                    <td><a href="{% url 'YAASApp:list_ban_auction' %}">Ban auctions</a></td>
                    <td><a href="{% url 'YAASApp:emails' %}">Emails</a></td>
                {% endif %}
            </tr>
        </table>
        {% else %}
            <p>{% trans "You are not logged in" %}</p>
            <table>
                <tr>
                    <td><a href="{% url 'YAASApp:auctionindex' %}">YAAS</a></td>
                    <td><a href="{% url 'YAASApp:register' %}">Register</a></td>
                    <td><a href="{% url 'YAASApp:login' %}">Login</a></td>
                </tr>
            </table>
        {% endif %}
  </div>
  <br/>
  <div>
    {% block content %}
    {% endblock %}
  </div>
  </main>
</body>
</html>